<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="hirst-dialog-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <div class="card">
      <div class="header">
        <h1>&lt;hirst-dialog&gt;</h1>
        <a class="version" href="https://github.com/firstor/hirst-dialog">v1.0.0</a>
      </div>

      <div class="contents">

        <h3>Action dialog</h3>
        <div class="snippet">
          <hirst-action-dialog id="actionDialog" title="Action dialog">Welcome!</hirst-action-dialog>
          <paper-button on-click="openActionDialog" raised>Open</paper-button>
        </div>

        <h3>Confirm dialog</h3>
        <div class="snippet">
          <p>Dialog opened: <b>[[dialogOpened]]</b></p>
          <hirst-confirm-dialog id="confirmDialog"
                                title="Confirm dialog"
                                confirm-title="Agree"
                                dismiss-title="Disagree"
                                on-confirm="confirmed"
                                on-dismiss="dismissed"
                                opened="{{dialogOpened}}">
            Do you agree?
          </hirst-confirm-dialog>
          <paper-button on-click="openConfirmDialog" raised>Open</paper-button>
        </div>

      </div>
    </div>
  </template>

  <script>
    class HirstDialogView extends Polymer.Element {
      static get is() { return 'hirst-dialog-view'; }
      openActionDialog() {
        this.$.actionDialog.open();
      }
      openConfirmDialog() {
        this.$.confirmDialog.open();
      }
      confirmed() {
        alert('Agreed!');
      }
      dismissed() {
        alert('Disagreed!');
      }
    }

    window.customElements.define(HirstDialogView.is, HirstDialogView);
  </script>
</dom-module>
