<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="icon-toggle-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        --icon-toggle-color: lightgrey;
        --icon-toggle-outline-color: #9c0000;
        --icon-toggle-pressed-color: #ffc7ce;
        --iron-icon-width: 40px;
        --iron-icon-height: 40px;
      }
    </style>

    <div class="card">
      <div class="header">
        <h1>&lt;icon-toggle&gt;</h1>
        <a class="version" href="https://github.com/first87/icon-toggle">v0.0.1</a>
      </div>

      <div class="contents">

        <h3>Statically-configured icon-toggles</h3>
        <div class="snippet">
          <icon-toggle toggle-icon="star"></icon-toggle>
          <icon-toggle toggle-icon="star" pressed></icon-toggle>
        </div>

        <h3>Data-bound icon-toggle</h3>
        <div class="snippet">
          <div><span>[[_message(isFavorite)]]</span></div>
          <icon-toggle toggle-icon="favorite" pressed="{{isFavorite}}"></icon-toggle>
        </div>

      </div>
    </div>
  </template>

  <script>
    class IconToggleView extends Polymer.Element {
      static get is() { return 'icon-toggle-view'; }
      _message(fav) {
        if (fav) {
          return 'You really like me!';
        }
        else {
          return 'Do you like me?';
        }
      }
    }

    window.customElements.define(IconToggleView.is, IconToggleView);
  </script>
</dom-module>
