<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="komed-dialog-base-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        --icon-toggle-color: #ffc7ce;
        --icon-toggle-outline-color: #9c0000;
        --icon-toggle-pressed-color: purple;
        --iron-icon-width: 40px;
        --iron-icon-height: 40px;
      }
    </style>

    <div class="card">
      <div class="header">
        <h1>&lt;komed-dialog-base&gt;</h1>
        <a class="version" href="https://github.com/first87/komed-dialog-base">v0.0.1</a>
      </div>

      <div class="contents">

        <h3>Opening basic dialog</h3>
        <div class="snippet">
          <komed-dialog-base id="basicDialog" title="Basic dialog">Welcome!</komed-dialog-base>
          <paper-button on-click="openBasicDialog" raised>Open</paper-button>
        </div>

      </div>
    </div>
  </template>

  <script>
    class KomedDialogBaseView extends Polymer.Element {
      static get is() { return 'komed-dialog-base-view'; }
      openBasicDialog() {
        this.$.basicDialog.open();
      }
    }

    window.customElements.define(KomedDialogBaseView.is, KomedDialogBaseView);
  </script>
</dom-module>
