<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="paper-item-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        --paper-item-color: #ffc7ce;
        --paper-item-outline-color: #9c0000;
        --paper-item-pressed-color: purple;
        --iron-icon-width: 40px;
        --iron-icon-height: 40px;
      }
    </style>

    <div class="card">
      <div class="header">
        <h1>&lt;paper-item&gt;</h1>
        <a class="version" href="https://github.com/first87/paper-item">v0.0.2</a>
      </div>

      <div class="contents">

        <h3>Statically-configured paper-items</h3>
        <div class="snippet">
          <paper-item toggle-icon="star"></paper-item>
          <paper-item toggle-icon="star" pressed></paper-item>
        </div>

        <h3>Data-bound paper-item</h3>
        <div class="snippet">
          <div><span>[[_message(isFavorite)]]</span></div>
          <paper-item toggle-icon="favorite" pressed="{{isFavorite}}"></paper-item>
        </div>

      </div>
    </div>
  </template>

  <script>
    class PaperItemView extends Polymer.Element {
      static get is() { return 'paper-item-view'; }
      _message(fav) {
        if (fav) {
          return 'You really like me!';
        }
        else {
          return 'Do you like me?';
        }
      }
    }

    window.customElements.define(PaperItemView.is, PaperItemView);
  </script>
</dom-module>
